.Top-Section{
    background-image: url(images/Banner1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
 
}


#ol-container li:nth-of-type(1n+6) {
    display: none;
  }